header {
	background-color: #6BAA75;
}
body {
	background-color: #1F1F1F;
	padding-bottom: 30px;
}



.product-card {
	color: black;
	background-color: #E9EBEC;
	width: 270px;
	height: 500px;
	transition-duration: 0.2s;
}
.product-card:hover {
	transform: scale(1.05);
}
.product-card img {
	object-fit: cover;
	width: 100%;
	height: 200px;
}
.hide-rm .product-card .rm-btn{
	background: blue;
	display: none;
}

.rm-btn {
	position: absolute;
	right: 5px;
	top: 5px;
}
.add-btn {
	position: absolute;
	right: 5px;
	bottom: 5px;
}


